html {
  font-size: 16px; }
  @media screen and (max-width: 1470px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 1220px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1115px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 990px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 11px; } }
  @media screen and (max-width: 800px) {
    html {
      font-size: 10px; } }

body, main {
  min-height: 100vh; }

body {
  display: flex; }

.main-container {
  padding: 4.375rem 0 0 8.125rem;
  width: 100%; }

.main-container--opened {
  padding-left: 26.25rem; }
  @media screen and (max-width: 630px) {
    .main-container--opened {
      padding-left: 8.125rem; } }

b {
  font-weight: bold; }

svg {
  fill: currentColor; }

a {
  text-decoration: none;
  color: #2A7DFA; }

main {
  display: flex; }

.delimiter {
  padding-right: 1.875rem;
  position: relative;
  white-space: nowrap; }
  .delimiter::after {
    content: '|';
    position: absolute;
    top: 0;
    right: 0.625rem; }
