html {
  font-size: 16px; }
  @media screen and (max-width: 1420px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 1180px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 1060px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 960px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 880px) {
    html {
      font-size: 11px; } }
  @media screen and (max-width: 700px) {
    html {
      font-size: 10px; } }

body, main {
  min-height: 100vh; }

body {
  display: flex; }

.main-container {
  padding: 70px 0 0 130px;
  width: 100%; }

.main-container--opened {
  padding-left: 420px; }

b {
  font-weight: bold; }

svg {
  fill: currentColor; }

a {
  text-decoration: none;
  color: #2A7DFA; }

main {
  display: flex; }

.delimiter {
  padding-right: 1.875rem;
  position: relative;
  white-space: nowrap; }
  .delimiter::after {
    content: '|';
    position: absolute;
    top: 0;
    right: 0.625rem; }
