*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

/*
Light 300
Regular 400
Medium 500
Bold 700
*/
.container {
  margin: 0 auto;
  max-width: 70%;
  width: 100%; }
  @media (max-width: 1640px) {
    .container {
      max-width: 80%; } }
  @media (max-width: 1024px) {
    .container {
      max-width: 90%; } }
  @media (max-width: 780px) {
    .container {
      max-width: 95%; } }
  .container--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center; }

.logo {
  color: #ff9300;
  font-size: 340%;
  font-weight: bold;
  text-transform: uppercase; }
  .logo span {
    color: white; }

.icon {
  width: 30px;
  height: 30px;
  fill: white; }
  .icon:hover {
    fill: #ff9300; }

@-webkit-keyframes jump {
  0% {
    transform: translateY(0%); }
  30% {
    transform: translateY(-30%); }
  50% {
    transform: translateY(0%); }
  70% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%); } }

@keyframes jump {
  0% {
    transform: translateY(0%); }
  30% {
    transform: translateY(-30%); }
  50% {
    transform: translateY(0%); }
  70% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%); } }

.link--button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.75rem 0;
  font-size: 1.13rem;
  font-weight: 500;
  color: white;
  text-align: center;
  background: linear-gradient(-45deg, #ffc32c, #ff9300, black, transparent);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  cursor: pointer; }
  .link--button:hover {
    -webkit-animation: none;
            animation: none;
    background-size: auto auto;
    background: #ff9300; }

.switches__button {
  margin: 0 1rem;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); }
  .switches__button:checked {
    background: #ff9300; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .form__header {
    margin-bottom: 2.5rem; }
  .form .form-header {
    text-align: center; }
    .form .form-header__main {
      margin-bottom: 0.5rem;
      font-size: 225%;
      font-weight: 700; }
    .form .form-header__mark {
      font-size: 1rem;
      font-weight: 500;
      font-style: italic; }
  .form__input {
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    max-width: 450px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ff9300;
    background: none;
    font-family: Roboto;
    color: white; }
    .form__input::-moz-placeholder {
      color: white; }
    .form__input:-ms-input-placeholder {
      color: white; }
    .form__input::placeholder {
      color: white; }
  .form__button {
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 0;
    max-width: 314px;
    width: 100%;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-align: center;
    cursor: pointer;
    background: #ff9300; }
    .form__button:hover {
      box-shadow: 0 0 10px white; }

body {
  font-family: Roboto;
  font-size: 16px;
  background-color: white;
  color: white; }
  @media (max-width: 1640px), (max-height: 900px) {
    body {
      font-size: 14px; } }
  @media (max-width: 1420px) {
    body {
      font-size: 13px; } }
  @media (max-width: 1024px) {
    body {
      font-size: 12px; } }

a {
  text-decoration: none;
  color: white; }

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, white 100%), url("../images/main-background.jpg");
  background-size: cover; }
  .main .container--flex-column {
    flex-grow: 1;
    justify-content: space-between; }
  .main__header {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .main__header--first {
      font-size: 6.5vh;
      font-weight: 700;
      text-shadow: 1px 1px 2px black; }
      @media (max-width: 780px) {
        .main__header--first {
          font-size: 3rem; } }
    .main__header--second {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: right; }
    .main__header--mark {
      font-size: 225%;
      font-style: italic;
      color: #ff9300; }
  .main__info {
    flex: 0 2 50%;
    max-width: 80%;
    width: 100%; }
    @media (max-width: 1640px) {
      .main__info {
        max-width: 90%; } }
    @media (max-width: 1024px) {
      .main__info {
        max-width: 100%; } }

.header {
  padding: 1rem;
  width: 100%;
  height: 11%;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 780px) {
    .header {
      height: auto; } }
  .header__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse; }
    @media (max-width: 780px) {
      .header__content {
        flex-direction: column-reverse; } }
  .header__logo {
    flex-grow: 2;
    display: flex;
    align-items: center; }
    .header__logo .logo {
      margin-right: 0.8rem; }
      @media (max-width: 780px) {
        .header__logo .logo {
          margin: 1rem 0 0 0;
          font-size: 12vw; } }
    .header__logo .hint {
      max-width: 14.4rem;
      font-size: 0.86rem; }
  @media (max-width: 780px) {
    .header__hint {
      display: none; } }
  .header__phone {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .header__phone .hint {
      margin-bottom: 0.8rem; }
    .header__phone .link {
      display: flex;
      font-size: 1.5rem;
      font-weight: 500;
      color: white; }
      .header__phone .link:before {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        background: url(/images/sprite.svg#phone-call) no-repeat;
        transform: translateY(0%);
        -webkit-animation: jump 0.7s infinite;
                animation: jump 0.7s infinite;
        content: ''; }

.main-info {
  padding: 4%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, transparent 50%, white 100%);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6); }
  @media (max-width: 1280px), (max-height: 720px) {
    .main-info {
      padding: 0; } }
  .main-info__ad {
    padding: 1.5rem 0;
    flex: 1 1 53%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-info__form {
    flex: 1 1 47%;
    padding: 2rem;
    min-width: 350px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); }

.main-info-ad {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .main-info-ad__name {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700; }
    @media (max-width: 780px) {
      .main-info-ad__name {
        font-size: 2.5rem; } }
  .main-info-ad__price {
    font-size: 200%; }
