.button {
  padding: 0.75rem 1.5625rem;
  border: none;
  font: normal normal 1.125rem/1.3125rem "Roboto Mono", monospace;
  font-weight: 400;
  font-weight: 700;
  color: #F0F0F0;
  text-align: center;
  background-color: #2A7DFA;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px; }
  .button:hover, .button:active {
    background-color: #75ABFC; }
  .button--sign {
    padding: 0 1.375rem;
    font: normal normal 2.5rem/2.9375rem "Roboto Mono", monospace;
    font-weight: 700;
    line-height: 2.5rem; }
  .button--icon {
    padding: 0;
    background-color: transparent;
    box-shadow: none; }
    .button--icon:hover, .button--icon:active {
      background-color: transparent; }
  .page__block .button--cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px; }
