@charset "UTF-8";
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  display: inline-block;
  cursor: pointer; }

.inputfile + label * {
  pointer-events: none; }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.field {
  z-index: 2;
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000; }
  .field--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start; }
    .field--column .field__label {
      margin-bottom: 0.9375rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.1875rem;
      text-transform: uppercase;
      color: #2A7DFA; }
  .field--empty .field__label {
    margin-right: 0;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 1; }
    .field--empty .field__label:after {
      content: 'не заполнен';
      padding-left: 0.625rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: #2A7DFA;
      white-space: nowrap; }
  .field--empty .field__input {
    display: none; }

.field__wrapper {
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.field__input {
  padding: 0 0.75rem;
  border: none;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 2;
  height: 3rem;
  min-width: 170px;
  background-color: #FFFFFF;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem; }
  .field__input::-webkit-input-placeholder {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #8E8E8E; }
  .field__input::-moz-placeholder {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #8E8E8E; }
  .field__input:-ms-input-placeholder {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #8E8E8E; }
  .field__input::-ms-input-placeholder {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #8E8E8E; }
  .field__input::placeholder {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #8E8E8E; }
  .field__input:disabled {
    padding: 0;
    background-color: transparent;
    box-shadow: none; }
  .field__input--date {
    max-width: 16.5625rem;
    min-width: 0;
    width: 100%;
    height: 3rem; }
  .field__input--textarea {
    padding: 0.8125rem 0.75rem;
    height: 11.875rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;
    resize: none; }

.field__label {
  margin-right: 1.25rem;
  flex-shrink: 2;
  font-weight: 500; }

.select {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../images/sprite.svg#arrow-blue-right");
  background-repeat: no-repeat, repeat;
  background-position: top right; }

.select::-ms-expand {
  display: none; }

.select:hover {
  border-color: #888; }

.select:focus {
  outline: none;
  background-image: url("../../images/sprite.svg#arrow-blue-down"); }

.select option {
  padding: 10px;
  font-weight: normal; }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select, :root:lang(ar) .select, :root:lang(iw) .select {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em; }

/* Disabled styles */
.select:disabled, .select[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); }
