.header {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 4.375rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: left;
  text-transform: uppercase;
  color: #F0F0F0;
  background-color: #2A7DFA; }
  .header__nav-toggle {
    width: 6.8vw;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
    @media screen and (max-width: 800px) {
      .header__nav-toggle {
        width: 8vw; } }
    @media screen and (max-width: 640px) {
      .header__nav-toggle {
        width: 10vw; } }
    @media screen and (max-width: 420px) {
      .header__nav-toggle {
        width: 12vw; } }
  .header__content {
    padding: 0 2.1875rem 0 0.9375rem;
    -webkit-box-flex: 1;
            flex-grow: 1;
    align-self: stretch;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 1470px) {
      .header__content {
        padding-right: 1.25rem; } }
    @media screen and (max-width: 1220px) {
      .header__content {
        padding-right: 0.9375rem; } }
  .header__nav {
    margin-left: auto;
    flex-shrink: 0;
    align-self: stretch;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
            align-items: stretch; }

.header-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .header-item--logo {
    margin-right: 8.4375rem; }
    @media screen and (max-width: 1470px) {
      .header-item--logo {
        margin-right: 3.75rem; } }
    @media screen and (max-width: 1115px) {
      .header-item--logo {
        margin-right: 1.875rem; } }
  .header-item__logo {
    padding: 0.625rem 0;
    max-height: 43px;
    max-width: 43px; }
  .header-item__name {
    margin-left: 0.5rem;
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    text-transform: capitalize;
    white-space: nowrap;
    color: #F0F0F0; }
    @media screen and (max-width: 540px) {
      .header-item__name {
        display: none; } }
  .header-item--balance {
    padding: 0.625rem 0 0.625rem;
    margin-right: 3.75rem;
    flex-shrink: 3; }
    @media screen and (max-width: 1115px) {
      .header-item--balance {
        margin-right: 1.875rem; } }
  .header-item__label {
    margin-left: 0.625rem;
    display: inline-block; }
    @media screen and (max-width: 740px) {
      .header-item__label {
        display: none; } }
  .header-item__value {
    margin-left: 0.625rem; }

.header-nav-item {
  padding: 1.5625rem;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #F0F0F0; }
  .header-nav-item:hover, .header-nav-item:active {
    text-decoration: none;
    color: #2A7DFA;
    background-color: #F0F0F0; }
  .header-nav-item--list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .header-nav-item a {
    color: inherit; }
  @media screen and (max-width: 1220px) {
    .header-nav-item {
      padding: 1.25rem; } }
  @media screen and (max-width: 900px) {
    .header-nav-item {
      padding: 0.9375rem; } }

.nav-toggle {
  width: 1.875rem;
  height: 2.0625rem;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none; }
  .nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #F0F0F0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .nav-toggle span:nth-child(1) {
    top: 0; }
  .nav-toggle span:nth-child(2), .nav-toggle span:nth-child(3) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nav-toggle span:nth-child(4) {
    top: calc(100% - 3px); }
  .nav-toggle.active span:nth-child(1) {
    top: calc(50% - 3px);
    width: 0;
    left: 50%; }
  .nav-toggle.active span:nth-child(2), .nav-toggle.active span:nth-child(3) {
    width: 2.8125rem;
    left: -0.375rem; }
  .nav-toggle.active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav-toggle.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav-toggle.active span:nth-child(4) {
    top: calc(50% - 3px);
    width: 0;
    left: 50%; }
