.header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  font: normal normal 1.125rem/1.3125rem "Roboto Mono", monospace;
  text-align: left;
  text-transform: uppercase;
  color: #F0F0F0;
  background-color: #2A7DFA; }
  .header__nav-toggle {
    width: 8.125rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center; }
  .header__content {
    padding: 0 2.1875rem 0 0.9375rem;
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 1470px) {
      .header__content {
        padding-right: 1.25rem; } }
    @media screen and (max-width: 1220px) {
      .header__content {
        padding-right: 0.9375rem; } }
  .header__nav {
    margin-left: auto;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    align-items: stretch; }

.header-item {
  display: flex;
  align-items: center; }
  .header-item--logo {
    margin-right: 8.4375rem; }
    @media screen and (max-width: 1470px) {
      .header-item--logo {
        margin-right: 3.75rem; } }
    @media screen and (max-width: 1115px) {
      .header-item--logo {
        margin-right: 1.875rem; } }
  .header-item__logo {
    height: 2.6875rem;
    width: 2.6875rem; }
  .header-item__name {
    margin-left: 0.5rem;
    font: normal normal 2.25rem/2.8125rem "Lobster", cursive;
    text-transform: capitalize;
    white-space: nowrap;
    color: #F0F0F0; }
    @media screen and (max-width: 460px) {
      .header-item__name {
        display: none; } }
  .header-item--balance {
    padding: 0.625rem 0 0.625rem;
    margin-right: 3.75rem;
    flex-shrink: 3; }
    @media screen and (max-width: 1115px) {
      .header-item--balance {
        margin-right: 1.875rem; } }
  .header-item__icon {
    width: 1.0625rem;
    height: 1.0625rem; }
  .header-item__label {
    margin-left: 0.625rem;
    display: inline-block; }
    @media screen and (max-width: 740px) {
      .header-item__label {
        display: none; } }
  .header-item__value {
    margin-left: 0.625rem; }

.header-nav-item {
  padding: 1.5625rem;
  color: #F0F0F0; }
  .header-nav-item:hover {
    text-decoration: none;
    color: #2A7DFA;
    background-color: #F0F0F0; }
  .header-nav-item--list {
    display: flex;
    align-items: center; }
  .header-nav-item a {
    color: inherit; }
  @media screen and (max-width: 1220px) {
    .header-nav-item {
      padding: 1.25rem; } }
  @media screen and (max-width: 900px) {
    .header-nav-item {
      padding: 0.9375rem; } }

.nav-toggle {
  cursor: pointer;
  padding: 0.625rem 2.1875rem 1rem 0; }
  .nav-toggle span,
  .nav-toggle span::before,
  .nav-toggle span::after {
    height: 0.1875rem;
    width: 1.875rem;
    background: #F0F0F0;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out; }
  .nav-toggle span::before {
    top: -0.625rem; }
  .nav-toggle span::after {
    bottom: -0.625rem; }
  .nav-toggle.active span {
    background-color: transparent; }
  .nav-toggle.active span::before,
  .nav-toggle.active span::after {
    top: 0; }
  .nav-toggle.active span::before {
    transform: rotate(45deg); }
  .nav-toggle.active span::after {
    transform: rotate(-45deg); }
