.link {
  padding: 0;
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #2A7DFA;
  -webkit-box-flex: 0;
          flex-grow: 0;
  height: auto;
  min-width: 0;
  background-color: transparent;
  box-shadow: none; }
  .link:hover:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #2A7DFA; }

.link-hover {
  position: relative; }
  .link-hover:hover:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #2A7DFA; }
  .link-hover.delimiter:before {
    width: calc(100% - 1.875rem); }

.text + .link {
  margin-left: 0.5rem; }
