.list {
  counter-reset: item;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem; }
  .list__item {
    margin-bottom: 0.5625rem;
    padding-left: 1.5rem;
    position: relative;
    display: block; }
    .list__item:last-child {
      margin-bottom: 0; }
    .list__item:before {
      position: absolute;
      top: 0;
      left: 0;
      content: counter(item) ".";
      counter-increment: item; }
  .rules .list {
    padding-left: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 300; }
    .rules .list__item {
      padding-left: 3.125rem; }
      .rules .list__item:before {
        font-weight: 700;
        color: #2A7DFA; }
