.side-nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 4.375rem;
  width: 6.8vw;
  height: 100%;
  background-color: #2A7DFA;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: width 0.5s;
  transition: width 0.5s; }
  @media screen and (max-width: 800px) {
    .side-nav {
      width: 8vw; } }
  @media screen and (max-width: 640px) {
    .side-nav {
      width: 10vw; } }
  @media screen and (max-width: 420px) {
    .side-nav {
      width: 12vw; } }
  .main-container--opened .side-nav {
    width: 21.964vw; }
    @media screen and (max-width: 800px) {
      .main-container--opened .side-nav {
        width: 25.84vw; } }
    @media screen and (max-width: 640px) {
      .main-container--opened .side-nav {
        width: 100%; } }
  .side-nav__menu {
    padding-top: 0.625rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    height: 100%;
    overflow-y: auto; }
    .main-container--opened .side-nav__menu {
      -webkit-box-align: start;
              align-items: flex-start; }

.side-nav-item {
  padding: 1rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #F0F0F0; }
  .main-container--opened .side-nav-item {
    padding-left: 12.62%;
    padding-right: 12.62%;
    -webkit-box-pack: start;
            justify-content: flex-start;
    width: 21.964vw; }
    @media screen and (max-width: 800px) {
      .main-container--opened .side-nav-item {
        width: 25.84vw; } }
    @media screen and (max-width: 640px) {
      .main-container--opened .side-nav-item {
        width: 100%; } }
  .side-nav-item:not(.side-nav-item--info) {
    color: #F0F0F0; }
    .side-nav-item:not(.side-nav-item--info).side-nav-item--active {
      color: #2A7DFA;
      text-decoration: none;
      color: #2A7DFA;
      background-color: #F0F0F0; }
    .side-nav-item:not(.side-nav-item--info):hover, .side-nav-item:not(.side-nav-item--info):active {
      text-decoration: none;
      color: #2A7DFA;
      background-color: #F0F0F0; }
  .side-nav-item--info {
    font-weight: 500; }
    .main-container--opened .side-nav-item--info {
      padding-left: 9.52%;
      padding-right: 9.52%; }
  .side-nav-item--delimiter {
    padding-top: 4.875rem;
    position: relative; }
    .side-nav-item--delimiter:before {
      content: '';
      position: absolute;
      top: 1.9375rem;
      left: 50%;
      width: calc(100% - 3.875rem);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      border-top: 1px solid #F0F0F0; }
      @media screen and (max-width: 640px) {
        .side-nav-item--delimiter:before {
          width: calc(100% - 2.5rem); } }
  .side-nav-item__img {
    max-width: 24px;
    max-height: 24px; }
    @media screen and (max-width: 800px) {
      .side-nav-item__img {
        max-width: 20px;
        max-height: 20px; } }
    .side-nav-item--info .side-nav-item__img {
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%; }
      @media screen and (max-width: 800px) {
        .side-nav-item--info .side-nav-item__img {
          max-width: 46px;
          max-height: 46px; } }
  .side-nav-item__label {
    margin-left: 1.5rem;
    display: none; }
    .main-container--opened .side-nav-item__label {
      display: inline-block; }
    .side-nav-item--info .side-nav-item__label {
      margin-left: 1.25rem; }
    .side-nav-item__label--caption {
      display: block;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.1875rem;
      font-weight: 500; }
