.table-container {
  margin-top: -50px; }
  .table-container .table-overflow {
    padding-top: 50px; }

.table-overflow {
  overflow-x: auto; }

.table {
  padding: 0 1.25rem;
  background-color: #F0F0F0;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem 0.25rem 0 0; }
  .table--without-total .table__body .table__row:last-child {
    border-color: transparent; }
  .table__content {
    width: 100%;
    min-width: 18.75rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #000000; }
  .table__head {
    color: #2A7DFA;
    text-transform: uppercase; }
  .rates .table__body .table__cell {
    text-transform: uppercase; }
  .table__foot .table__cell:first-child {
    font-weight: 700; }
    .rates .table__foot .table__cell:first-child {
      font-weight: normal;
      text-transform: uppercase; }
  .table__foot .table__row {
    border-color: transparent; }
  .table__row {
    border-bottom: 1px solid #2A7DFA; }
  .table__cell {
    padding: 1rem 0.375rem;
    text-align: left; }
    .table__cell--number {
      text-align: right; }
    .table__cell--with-icon {
      padding-left: 25px;
      position: relative; }
      .table__cell--with-icon .icon {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
    .table__cell-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
  .table--flex .table__row-messages .messages {
    display: none; }
  .table--flex .table__row-messages .icon--arrow {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .table--flex .table__row-messages--opened {
    margin: 0 -1.25rem;
    padding: 0 1.25rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); }
    .table--flex .table__row-messages--opened .icon--arrow {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .table--flex .table__row-messages--opened .messages {
      display: block; }
  .table--flex .table__row-messages--opened.table__row-messages--archived {
    padding-bottom: 0.9375rem; }
  .table--flex .table__row-messages--archived .messages__response {
    display: none; }
  .table--flex .table__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .table--flex .table__cell {
    max-width: 100%; }
