.table {
  margin: -1.25rem 0;
  width: 100%;
  min-width: 18.75rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000; }
  .table--without-total .table__body .table__row:last-child {
    border-color: transparent; }
  .table__head, .table__body {
    padding: 0 1.25rem; }
  .table__head {
    color: #2A7DFA;
    text-transform: uppercase; }
  .rates .table__body .table__cell {
    text-transform: uppercase; }
  .table__foot .table__cell:first-child {
    font-weight: 700; }
    .rates .table__foot .table__cell:first-child {
      font-weight: normal;
      text-transform: uppercase; }
  .table__foot .table__row {
    border-color: transparent; }
  .table__row {
    border-bottom: 1px solid #2A7DFA; }
  .table__cell {
    padding: 1rem 0.375rem;
    text-align: left;
    max-width: 0; }
    .table__cell--number {
      text-align: right; }
    .table__cell--with-icon {
      padding-left: 25px;
      position: relative; }
      .table__cell--with-icon .icon {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
    .table__cell-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
