.links .page__sub-title {
  margin-top: 1.875rem; }

.links__created-link .status {
  margin-bottom: 1.375rem; }

.links__created-link .link {
  margin-bottom: 0.625rem;
  text-transform: uppercase; }
  .links__created-link .link:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #2A7DFA; }

.links__created-link .text-wrapper {
  margin-bottom: 0.8125rem; }
  .links__created-link .text-wrapper .text {
    margin-bottom: 0; }

.links__created-link .text {
  margin-bottom: 0.8125rem; }

.links__created-link .text-ellipsis {
  max-width: 800px; }

.links .form {
  width: 100%; }
  .links .form .page-block__item:nth-child(odd) {
    flex-basis: 43.9%; }
    .links .form .page-block__item:nth-child(odd) .field__input {
      max-width: 279px; }
  .links .form .page-block__item:nth-child(even) {
    flex-basis: 52.6%; }
    .links .form .page-block__item:nth-child(even) .field__input {
      max-width: 566px; }
    .links .form .page-block__item:nth-child(even) .field__input--with-button {
      max-width: 476px; }
  .links .form .button {
    margin-left: 1.25rem; }

.links__table {
  min-width: 450px; }

.links__short-link {
  width: 20%; }

.links__link {
  width: 70%; }

.links__profit {
  width: 10%; }

@media screen and (max-width: 800px) {
  .links__short-link {
    width: 30%; }
  .links__link {
    width: 50%; }
  .links__profit {
    width: 20%; } }
