.news {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #000000; }
  .news__title {
    padding: 0.25rem 0 1.25rem;
    margin: 0 0 1.875rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #2A7DFA;
    font-weight: 700; }
  .news__content-item {
    margin-bottom: 1rem; }
  .news__rating {
    margin-top: 1.25rem;
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    font-weight: 700; }
    .news__rating-value {
      margin: 0 0.875rem; }
