.profile {
  padding-top: 3.75rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000; }
  @media screen and (max-width: 1115px) {
    .profile {
      padding-top: 1.875rem; } }
  .profile .page__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
            align-items: flex-start;
    max-width: 1176px; }
    @media screen and (max-width: 640px) {
      .profile .page__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: start;
                justify-content: flex-start; } }
  .profile .page-block {
    margin-left: -5.8125rem; }
  .profile .page-block__item {
    padding-left: 5.8125rem; }
  .profile .page__block {
    margin-bottom: 0;
    width: 100%; }
  .profile__info {
    flex-shrink: 1;
    flex-basis: 75%; }
    @media screen and (max-width: 640px) {
      .profile__info {
        flex-basis: 100%; } }
  .profile__password {
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .profile__password .field__input {
      margin-top: 0.9375rem;
      -webkit-box-flex: 1;
              flex-grow: 1;
      max-width: 264px; }
      .profile__password .field__input:last-child {
        margin-right: 0; }
  .profile__title {
    margin: 2.5rem 0 1.25rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    font-weight: 700;
    color: #000000; }
  .profile__avatar {
    flex-shrink: 0;
    max-width: 202px; }
  .profile__avatar-content {
    padding: 0.625rem;
    margin-bottom: 0.75rem;
    background-color: #F0F0F0;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25); }
  .profile__photo {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%; }
