.rates .page-block {
  margin-left: -2.5rem; }

.rates .page-block__item {
  padding-left: 2.5rem; }

.rates .page__sub-title {
  margin: 0 0 1.375rem;
  font-weight: 700; }

.rates .table {
  width: 100%; }
