.statistics .page-block__item {
  flex-wrap: nowrap; }

.statistics__table {
  min-width: 730px; }

.statistics .table__cell--hovered:hover .tooltip:after, .statistics .table__cell--hovered:hover .tooltip__text {
  display: inline; }

.statistics .field {
  -webkit-box-flex: 0;
          flex-grow: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem; }
  .statistics .field__label {
    flex-shrink: 0;
    text-transform: uppercase; }
